form(action="/login_create", method="post")
	div.form-group
		label(for='name') Name
		input(type='text', name= 'username', class='form-control')
	div.form-group
		label(for='password') Password
		input(type='text', name='password', class='form-control')
	div.form-group
		input(type="submit", value="Submit", class='btn btn-default')
	br

