form(action="/movies/create", method="post")
	div.form-group
		label(for='title') Title
		input(type='text', name= 'title', class='form-control')
	div.form-group
		label(for='URL') Trailer Title
		input(type='text', name='url', class='form-control')
	div.form-group
		input(type="submit", value="Submit", class='btn btn-default')
	br

