form(action="/signup_create", method="post")
	h1 Signup form
	div.form-group
		label(for='name') Name
		input(type='text', name= 'name', class='form-control')
	div.form-group
		label(for='password') Password
		input(type='password', name='password', class='form-control')
	div.form-group
		input(type="submit", value="Submit", class='btn btn-default')
	br

